body {
  margin: 0;
  background-color: black;
}

#canvas-scene {
  display: block;  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
  position: absolute; 
  z-index: 0;
}

#fullscreen-button {
  position: fixed; 
  z-index: 1;
  bottom: 0;
  right: 0;
}